@import "tailwindcss";

/* :root {
  --background: #f5f5f5;
  --foreground: #1a1a1a;
  --muted: #666666;
  --accent: #0066cc;
  --border: #e0e0e0;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-sans),
    system-ui,
    -apple-system,
    sans-serif;
}

a {
  text-decoration: none;
  transition: color 0.15s ease;
}

.hover-link:hover {
  transform: scale(1.25);
}
/* a:hover {
  transform: scale(1.25);
} */
